<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IpisCentralDisplayController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IpisCentralDisplayController.Properties.Settings>
            <setting name="WorkspacePath" serializeAs="String">
                <value />
            </setting>
            <setting name="userCategories" serializeAs="String">
                <value />
            </setting>
            <setting name="users" serializeAs="String">
                <value />
            </setting>
            <setting name="stationInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="platformInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="displayStyles" serializeAs="String">
                <value />
            </setting>
            <setting name="audioSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="trainStatusDisplays" serializeAs="String">
                <value />
            </setting>
            <setting name="capAlerts" serializeAs="String">
                <value />
            </setting>
            <setting name="eventLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="mediaFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="timelines" serializeAs="String">
                <value />
            </setting>
            <setting name="stations" serializeAs="String">
                <value />
            </setting>
            <setting name="trainMaster" serializeAs="String">
                <value />
            </setting>
        </IpisCentralDisplayController.Properties.Settings>
    </userSettings>
</configuration>